.divider {
  width: 60px;
  height: 2px;

  &--centered {
    margin: 0 auto;
  }
}


// utility

.left {
  text-align: left;
}

.right {
  text-align: right;
}


.hidden-sm {
  display: none;
}

.centered {
  margin: 0 auto;
}