@import "../base/variables";

.container {
  justify-content: center;
  display: flex;
}

.card {
  width: fit-content;

  .card__img {
    display: flex;

    img {
      border-radius: 50%;
      margin: 0 auto 20px auto;
      text-align: center;
    }
  }
}

.card__btn {
  display: flex;
  justify-content: center;

  .btn {
    padding: 15px;
    border-radius: 0;
    border: none;
    color: white;
    cursor: pointer;
}
}

.male {
  background-color: $male-color;
  border: 5px solid $male-color;
}

.female {
  background-color: $female-color;
  border: 5px solid $female-color;
}
